<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a</key>
	<array>
		<string>a</string>
		<string>ai</string>
		<string>an</string>
		<string>ang</string>
		<string>ao</string>
	</array>
	<key>b</key>
	<array>
		<string>ba</string>
		<string>bai</string>
		<string>ban</string>
		<string>bang</string>
		<string>bao</string>
		<string>bei</string>
		<string>ben</string>
		<string>beng</string>
		<string>bi</string>
		<string>bian</string>
		<string>biao</string>
		<string>bie</string>
		<string>bin</string>
		<string>bing</string>
		<string>bo</string>
		<string>bu</string>
	</array>
	<key>c</key>
	<array>
		<string>ca</string>
		<string>cai</string>
		<string>can</string>
		<string>cang</string>
		<string>cao</string>
		<string>ce</string>
		<string>cei</string>
		<string>cen</string>
		<string>ceng</string>
		<string>cha</string>
		<string>chai</string>
		<string>chan</string>
		<string>chang</string>
		<string>chao</string>
		<string>che</string>
		<string>chen</string>
		<string>cheng</string>
		<string>chi</string>
		<string>chong</string>
		<string>chou</string>
		<string>chu</string>
		<string>chua</string>
		<string>chuai</string>
		<string>chuan</string>
		<string>chuang</string>
		<string>chui</string>
		<string>chun</string>
		<string>chuo</string>
		<string>ci</string>
		<string>cong</string>
		<string>cou</string>
		<string>cu</string>
		<string>cuan</string>
		<string>cui</string>
		<string>cun</string>
		<string>cuo</string>
	</array>
	<key>d</key>
	<array>
		<string>da</string>
		<string>dai</string>
		<string>dan</string>
		<string>dang</string>
		<string>dao</string>
		<string>de</string>
		<string>den</string>
		<string>dei</string>
		<string>deng</string>
		<string>di</string>
		<string>dia</string>
		<string>dian</string>
		<string>diao</string>
		<string>die</string>
		<string>ding</string>
		<string>diu</string>
		<string>dong</string>
		<string>dou</string>
		<string>du</string>
		<string>duan</string>
		<string>dui</string>
		<string>dun</string>
		<string>duo</string>
	</array>
	<key>e</key>
	<array>
		<string>e</string>
		<string>ei</string>
		<string>en</string>
		<string>eng</string>
		<string>er</string>
	</array>
	<key>f</key>
	<array>
		<string>fa</string>
		<string>fan</string>
		<string>fang</string>
		<string>fei</string>
		<string>fen</string>
		<string>feng</string>
		<string>fo</string>
		<string>fou</string>
		<string>fu</string>
	</array>
	<key>g</key>
	<array>
		<string>ga</string>
		<string>gai</string>
		<string>gan</string>
		<string>gang</string>
		<string>gao</string>
		<string>ge</string>
		<string>gei</string>
		<string>gen</string>
		<string>geng</string>
		<string>gong</string>
		<string>gou</string>
		<string>gu</string>
		<string>gua</string>
		<string>guai</string>
		<string>guan</string>
		<string>guang</string>
		<string>gui</string>
		<string>gun</string>
		<string>guo</string>
	</array>
	<key>h</key>
	<array>
		<string>ha</string>
		<string>hai</string>
		<string>han</string>
		<string>hang</string>
		<string>hao</string>
		<string>he</string>
		<string>hei</string>
		<string>hen</string>
		<string>heng</string>
		<string>hong</string>
		<string>hou</string>
		<string>hu</string>
		<string>hua</string>
		<string>huai</string>
		<string>huan</string>
		<string>huang</string>
		<string>hui</string>
		<string>hun</string>
		<string>huo</string>
	</array>
	<key>j</key>
	<array>
		<string>ji</string>
		<string>jia</string>
		<string>jian</string>
		<string>jiang</string>
		<string>jiao</string>
		<string>jie</string>
		<string>jin</string>
		<string>jing</string>
		<string>jiong</string>
		<string>jiu</string>
		<string>ju</string>
		<string>juan</string>
		<string>jue</string>
		<string>jun</string>
	</array>
	<key>k</key>
	<array>
		<string>ka</string>
		<string>kai</string>
		<string>kan</string>
		<string>kang</string>
		<string>kao</string>
		<string>ke</string>
		<string>ken</string>
		<string>keng</string>
		<string>kong</string>
		<string>kou</string>
		<string>ku</string>
		<string>kua</string>
		<string>kuai</string>
		<string>kuan</string>
		<string>kuang</string>
		<string>kui</string>
		<string>kun</string>
		<string>kuo</string>
	</array>
	<key>l</key>
	<array>
		<string>la</string>
		<string>lai</string>
		<string>lan</string>
		<string>lang</string>
		<string>lao</string>
		<string>le</string>
		<string>lei</string>
		<string>leng</string>
		<string>li</string>
		<string>lia</string>
		<string>lian</string>
		<string>liang</string>
		<string>liao</string>
		<string>lie</string>
		<string>lin</string>
		<string>ling</string>
		<string>liu</string>
		<string>long</string>
		<string>lou</string>
		<string>lu</string>
		<string>lv</string>
		<string>luan</string>
		<string>lve</string>
		<string>lun</string>
		<string>luo</string>
	</array>
	<key>m</key>
	<array>
		<string>m</string>
		<string>ma</string>
		<string>mai</string>
		<string>man</string>
		<string>mang</string>
		<string>mao</string>
		<string>me</string>
		<string>mei</string>
		<string>men</string>
		<string>meng</string>
		<string>mi</string>
		<string>mian</string>
		<string>miao</string>
		<string>mie</string>
		<string>min</string>
		<string>ming</string>
		<string>miu</string>
		<string>mo</string>
		<string>mou</string>
		<string>mu</string>
	</array>
	<key>n</key>
	<array>
		<string>na</string>
		<string>nai</string>
		<string>nan</string>
		<string>nang</string>
		<string>nao</string>
		<string>ne</string>
		<string>nei</string>
		<string>nen</string>
		<string>neng</string>
		<string>ni</string>
		<string>nian</string>
		<string>niang</string>
		<string>niao</string>
		<string>nie</string>
		<string>nin</string>
		<string>ning</string>
		<string>niu</string>
		<string>nong</string>
		<string>nou</string>
		<string>nu</string>
		<string>nv</string>
		<string>nuan</string>
		<string>nve</string>
		<string>nuo</string>
		<string>nun</string>
	</array>
	<key>o</key>
	<array>
		<string>o</string>
		<string>ou</string>
	</array>
	<key>p</key>
	<array>
		<string>pa</string>
		<string>pai</string>
		<string>pan</string>
		<string>pang</string>
		<string>pao</string>
		<string>pei</string>
		<string>pen</string>
		<string>peng</string>
		<string>pi</string>
		<string>pian</string>
		<string>piao</string>
		<string>pie</string>
		<string>pin</string>
		<string>ping</string>
		<string>po</string>
		<string>pou</string>
		<string>pu</string>
	</array>
	<key>q</key>
	<array>
		<string>qi</string>
		<string>qia</string>
		<string>qian</string>
		<string>qiang</string>
		<string>qiao</string>
		<string>qie</string>
		<string>qin</string>
		<string>qing</string>
		<string>qiong</string>
		<string>qiu</string>
		<string>qu</string>
		<string>quan</string>
		<string>que</string>
		<string>qun</string>
	</array>
	<key>r</key>
	<array>
		<string>ran</string>
		<string>rang</string>
		<string>rao</string>
		<string>re</string>
		<string>ren</string>
		<string>reng</string>
		<string>ri</string>
		<string>rong</string>
		<string>rou</string>
		<string>ru</string>
		<string>ruan</string>
		<string>rui</string>
		<string>run</string>
		<string>ruo</string>
	</array>
	<key>s</key>
	<array>
		<string>sa</string>
		<string>sai</string>
		<string>san</string>
		<string>sang</string>
		<string>sao</string>
		<string>se</string>
		<string>sen</string>
		<string>seng</string>
		<string>sha</string>
		<string>shai</string>
		<string>shan</string>
		<string>shang</string>
		<string>shao</string>
		<string>she</string>
		<string>shei</string>
		<string>shen</string>
		<string>sheng</string>
		<string>shi</string>
		<string>shou</string>
		<string>shu</string>
		<string>shua</string>
		<string>shuai</string>
		<string>shuan</string>
		<string>shuang</string>
		<string>shui</string>
		<string>shun</string>
		<string>shuo</string>
		<string>si</string>
		<string>song</string>
		<string>sou</string>
		<string>su</string>
		<string>suan</string>
		<string>sui</string>
		<string>sun</string>
		<string>suo</string>
	</array>
	<key>t</key>
	<array>
		<string>ta</string>
		<string>tai</string>
		<string>tan</string>
		<string>tang</string>
		<string>tao</string>
		<string>te</string>
		<string>teng</string>
		<string>ti</string>
		<string>tian</string>
		<string>tiao</string>
		<string>tie</string>
		<string>ting</string>
		<string>tong</string>
		<string>tou</string>
		<string>tu</string>
		<string>tuan</string>
		<string>tui</string>
		<string>tun</string>
		<string>tuo</string>
	</array>
	<key>w</key>
	<array>
		<string>wa</string>
		<string>wai</string>
		<string>wan</string>
		<string>wang</string>
		<string>wei</string>
		<string>wen</string>
		<string>weng</string>
		<string>wo</string>
		<string>wu</string>
	</array>
	<key>x</key>
	<array>
		<string>xi</string>
		<string>xia</string>
		<string>xian</string>
		<string>xiang</string>
		<string>xiao</string>
		<string>xie</string>
		<string>xin</string>
		<string>xing</string>
		<string>xiong</string>
		<string>xiu</string>
		<string>xu</string>
		<string>xuan</string>
		<string>xue</string>
		<string>xun</string>
	</array>
	<key>y</key>
	<array>
		<string>ya</string>
		<string>yan</string>
		<string>yang</string>
		<string>yao</string>
		<string>ye</string>
		<string>yi</string>
		<string>yin</string>
		<string>ying</string>
		<string>yo</string>
		<string>yong</string>
		<string>you</string>
		<string>yu</string>
		<string>yuan</string>
		<string>yue</string>
		<string>yun</string>
	</array>
	<key>z</key>
	<array>
		<string>za</string>
		<string>zai</string>
		<string>zan</string>
		<string>zang</string>
		<string>zao</string>
		<string>ze</string>
		<string>zei</string>
		<string>zen</string>
		<string>zeng</string>
		<string>zha</string>
		<string>zhai</string>
		<string>zhan</string>
		<string>zhang</string>
		<string>zhao</string>
		<string>zhe</string>
		<string>zhei</string>
		<string>zhen</string>
		<string>zheng</string>
		<string>zhi</string>
		<string>zhong</string>
		<string>zhou</string>
		<string>zhu</string>
		<string>zhua</string>
		<string>zhuai</string>
		<string>zhuan</string>
		<string>zhuang</string>
		<string>zhui</string>
		<string>zhun</string>
		<string>zhuo</string>
		<string>zi</string>
		<string>zong</string>
		<string>zou</string>
		<string>zu</string>
		<string>zuan</string>
		<string>zui</string>
		<string>zun</string>
		<string>zuo</string>
	</array>
</dict>
</plist>
